@(stage : String)
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>R2 Archive View</title>
        <style>
        body{
        margin-left: 10%;
        margin-right: 10%;
        }

        .results{
        border:1px solid #000000;
        width: 100%;
        height: 30%;
        overflow:scroll;
        margin-top: 20px;
        }

        #articleview{
        margin-top: 100px;
        }

        #loadingDiv{
        content: url("/assets/images/spinner.gif");
        width: 40px;
        height: 40px;
        position: fixed;
        top: 20%;
        left: 50%;
        }
        </style>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>
            $(document).ready(function (){
               var $loading = $('#loadingDiv').hide();
                $('#articleview_results_success').hide();
                $('#articleview_results_error').hide();
               $(document)
                 .ajaxStart(function () {
                    //ajax request went so show the loading image
                     $loading.show();
                     $('#view').attr("disabled", true);
                 })
               .ajaxStop(function () {
                   //got response so hide the loading image
                    $loading.hide();
                    $('#view').attr("disabled", false);
                });
            })

            function articleViewAjax(articleId){
                $('#articleview_results_success').hide();
                $('#articleview_results_error').hide();
                $.ajax({
                  url: "/articlejson/" + articleId,
                  type: "GET"
                }).done(function(data) {
                    if(!data) displayErrorResults();
                    displayResults(data);
                }).fail(function(data){
                    displayErrorResults();
                });
            }

            function clearPreviousResults(){
                $('#articleid').html("");
                $('#articleview_results_success').hide();
                $('#articleview_results_error').hide();
            }
            function displayResults(data){
                $('#articleview_results_success').show();
                console.log(data);
                var id = data.id;
                var headline = data.headline
                var body = data.body
                $('#article_headline').text(headline);
                $('#article_html').html(body);
                $('#article_rawHtml').text(body);
            }
            function displayErrorResults(){
                $('#articleview_results_error').show();
                var message = "Could not load the article in the migration archive"
                $('#articleview_results_error').html("<span class=\"failed\">" + message + "</span>");
            }

            function articleView(){
                var articleId = $("#articleid").val();
                if(isNaN(articleId) || articleId.length==0){
                    alert("The R2 id '" + articleId + "' is not valid");
                }
                else{
                    clearPreviousResults();
                    articleViewAjax(articleId);
                }
            }

        </script>
    </head>
    <body>
        <h1>R2 Article Archive View (@stage)</h1>

        <div id="articleview">
            R2 Article ID:
            <input  type="text" name="articleid" id="articleid">
            <button type="button" onclick="articleView()" id="view">View Article In Archive</button>


            <div id="articleview_results">
                <div id="articleview_results_success">
                    Headline:
                    <div id="article_headline" class="results"></div>
                    Body (raw):
                    <div id="article_html" class="results">
                    </div>
                    Body:
                    <div id="article_rawHtml" class="results">
                    </div>
                </div>
                <div id="articleview_results_error" class="failed">
                    Could not load the article in the migration archive
                </div>

            </div>
        </div>
        <div id="loadingDiv">
            Loading loading loading
        </div>


        <h2>Contact</h2>

        <p><a href="mailto:robert.rees@@theguardian.com" rel="contact">Development team</a></p>
    </body>
</html>
